{% extends 'base.html' %}

{% block title %}Lista de produtos{% endblock title %}

{% block content %}
<form method="get">
    <div class="row justify-content-md-center my-3">
        <div class="col col-lg-8">
            <input type="text" name="busca" class="form-control" placeholder="Pesquisar produto">
        </div>
        <div class="col col-md-auto">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Marca</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.marca }}</td>
            <td>
                <a href="{% url 'editar_produto' pk=produto.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'apagar_produto' pk=produto.id %}"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'criar_produto' %}">
    <button type="button" class="btn btn-primary">Criar Produto</button>
</a>
{% endblock content %}