{% extends 'base.html' %}

{% block title %}Produtos por marca{% endblock title %}

{% block content %}
<div class="my-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Produto</td>
                <td>Preço</td>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}